[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
autopep8 = "*"

[packages]
Django = "==3.0.4"
djangorestframework = "==3.11.0"
drf-extensions = "==0.6.0"
Pillow = "==7.0.0"

[requires]
python_version = "3.6"
